p{
    margin-left: 4px;
}
.cur_item{
    display: flex;
    color: #33E4D4;
    border-bottom: 1px solid rgba(0, 0, 0, .4);
    font-weight: 300;
    font-size: 18px;
}
.cur_item:hover{
    background-color: #295A5F;;
}
.cur_item > div{
    padding: 2px 6px;
    text-align: center;
}
.cur_item__cur{
    flex: 1 0 35%;
    display: flex;
    align-items: center;
}
.cur_item__flag_l,
.cur_item__flag_r{
    position: relative;
    width: 30px;
    height: 25px;
    object-fit: cover;

}
.cur_item__flag_r{
    margin-left: 4px;
}
.cur_item__flag_l img,
.cur_item__flag_r img{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 7px;

}
.cur_item__price{
    flex: 1 0 auto;

    font-weight: 600;
}