.input_container{
    flex: 1 0 80px;
    font-weight: 600;
    position: relative;
}

.confirmBtns__container{
    position: absolute;
    top: -35%;
    right: 0;
    
}
.confirmBtns__container button{
    width: 20px;
    height: 18px;
    line-height: 1;
    font-size: 15px;
    font-weight: 500;
    color: #4FD2C7;
    border: 1px solid #26303B;
    border-radius: 2px;
    background-color: #FCFDFD;
    margin-left: 2px;
}
.confirmBtns__container button:not(:disabled):hover{
    background-color: #295A5F;;
}
.confirmBtns__container button:nth-child(2){
    color: red;
}
.input_number{
    max-height: 27px;
}
.disabled{
    opacity: .3;

}

@media (pointer:coarse){
    .confirmBtns__container button{
        width: 34px;
        height: 26px;
        border-radius: 4px;
        margin-left: 4px;
    }
    .confirmBtns__container{
        top: -60%;
    }
}