fieldset{
    flex: 0 1 45%;
    border: 1px solid #FCFDFD;
    border-radius: 5px;
    
    display: flex;
    padding: 0 3px 3px 3px;
}


legend {
    color: #FCFDFD;
    font-size: 18px;
    margin-left: 8px;
    margin-bottom: 3px;
    float:none;
    width:auto;
    padding: 0 6px;
}
.input_number{
    color: #26303B;
    padding: 2px;
}
.select{
    max-width: 68px;
    margin-left: 4px;
    font-size: 13px;
    padding-left: 5px;
    color: #26303B;
    background-color: #4FD2C7;
}
.select:where(:hover){
    cursor: pointer;
    background-color: #295A5F;
    color: #4FD2C7;
}