.converter{
    color: #33E4D4;
    padding: 0 8px;
}

.form{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 8px;
}
.button{
    flex: 0 1 auto;
    background-color: #4FD2C7;
    width: 45px;
    margin-bottom: 8px;
}
.converter .form .button:where(:hover) {
    background-color: #295A5F;
}

